{% from 'bootstrap5/utils.html' import render_icon %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <title>
            {% block title %} Tarea Flask | {% endblock %}
        </title>
        
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {% endblock %}
</head>
<body>

    {% include 'navbar.html' %}

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="text-center">
        {% block footer %}
            <small>
                &copy;
                <script>document.write(new Date().getFullYear())</script>
                <a href="https://github.com/ylyanini/">Yan Lucaveche {{ render_icon('github') }}</a>
            </small>
        {% endblock %}
    </footer>

    {{ bootstrap.load_js() }}
</body>
</html>