{% extends 'base.html' %}
{% import 'macros.html' as macros%}

{% block title %}
    {{ super() }}
    Inicio 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% if user_ip %}
            <h1>Bienvenido usuario {{user_ip}}</h1>
        {% else %}
            <a href="{{ url_for('index') }}">Ir a inicio</a>
        {% endif %}
        
        <h2>Tarea Flask</h2>
        <ul>
            {% for todo in todos %}
                {{ macros.render_todo(todo) }}
            {% endfor %}
        </ul>
    </div>
</div>
    
{% endblock %}
